﻿<table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper">
    <tr>
        <td height="40" style="font-size:10px; line-height:10px;">&nbsp;</td>
    </tr>
    <tr>
        <td align="center" valign="top" style="color:#333; font-size:11px; line-height:10px;">
            Enviado por <strong>PlaniFive</strong> METRIRI SALUD Y BIENESTAR SL.
            <p>
                <strong><a href="mailto:#EMAILFROM#">#EMAILFROM#</a></strong>
            </p>
        </td>
    </tr>
    <tr>
        <td align="center" valign="top" style="color:#333; font-size:11px; line-height:10px;">
            No quiero recibir más notificaciones de correo: <a href="#UNSUSCRIBEURL#" style="color: red;">Darse de baja</a>
        </td>
    </tr>
    <tr>
        <td height="10" style="font-size:10px; line-height:10px;">&nbsp;</td>
    </tr>
    <table>
